/*
Alle sider:
*/

p {
  font-family: Tahoma;
  font-size: 25px;
  color: rgb(32, 178, 170);
  line-height: 50px;
}

a {
  font-family: Tahoma;
  padding-right: 35px;
  color: rgb(32, 178, 170);
  text-decoration: none;
}

li {
  font-family: Tahoma;
  font-size: 25px;
  color: rgb(32, 178, 170);
}

h3 {
  font-family: Tahoma;
  font-size: 25px;
  color: rgb(32, 178, 170);
}

button {
  font-family: Tahoma;
}

pre {
  font-family: Tahoma;
}

.tittel {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 45px;
  color: rgb(32, 178, 170);
  margin-top: 70px;
  margin-left: 150px;
  position: absolute;
  cursor: pointer;
}

.greenCircle {
  margin-top: 3px;
  position: absolute;
  margin-left: 5px;
}

.allLinks {
  font-family: Tahoma;
  font-size: 20px;
  color: rgb(32, 178, 170);
  float: right;
  padding-top: 88px;
  padding-right: 120px;
  position: relative;
}

/*
Forsiden:
*/

.slagOrd {
  font-family: Tahoma;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-left: 170px;
  margin-top: 210px;
  width: 500px;
  line-height: 90px;
  position: absolute;
}

.elektriskLadeBilde {
  border-width: 20px;
  border-style:double;
  border-color: white;
  width: 450px;
  border-radius: 200px;
  margin-top: 220px;
  margin-left: 750px;
  position: fixed;
}

.medlemsKnapp {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 25px;
  border-style: solid;
  border-color: rgb(181, 230, 29);
  border-radius: 50px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgb(181, 230, 29);
  color: white;
  float: left;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 160px;
  margin-top: 340px;
}

/*
"Medlemskap"-siden:
*/

.medlemskapOverskrift {
  font-weight: bold;
  font-size: 45px;
  position: absolute;
  
  margin-top: 230px;
  margin-left: 150px;
}

.medlemskapInfo {
  width: 600px;
  line-height: 50px;
  position: absolute;
  margin-top: 300px;
  margin-left: 150px;
}

.dameMedHund {
  width: 500px;
  margin-left: 850px;
  margin-top: 250px;
  border-radius: 5px;
  position: absolute;
}

.medlemskapOverskrift2 {
  font-size: 37px;
  font-weight: bold;
  line-height: 50px;
  margin-top: 830px;
  margin-left: 150px;
  position: absolute;
}

.medlemskapInfo2 {
  margin-top: 900px;
  margin-left: 150px;
}


.medlemskapInfo3 {
  margin-left: 150px;
  line-height: 35px;
}

.kjoretoyLink {
  padding-right: 1px;
}

/*
"Utlånssteder"-siden:
*/

.utlånOverskrift {
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  margin-top: 230px;
  margin-left: 150px;
}

.listeUtlån {
  line-height: 80px;
  position: absolute;
  margin-top: 310px;
  margin-left: 150px;
}

.infoUtlån {
  position: absolute;
  margin-top:750px;
  margin-left: 180px;
  padding-bottom: 150px;
}

/*
"Om EDEL"-siden:
*/
.omOssOverskrift {
  font-size: 45px;
  font-weight: bold;
  margin-top: 230px;
  margin-left: 150px;
  position: absolute;
}

.omOssInfo {
  margin-top: 320px;
  margin-left: 150px;
  width: 600px;
  line-height: 50px;
  position: absolute;
}

/*
"Våre kjøretøy"-siden:
*/

.kjoretoyOverskrift {
  font-size: 45px;
  font-weight: bold;
  color: rgb(32, 178, 170);
  position: absolute;
  margin-top: 230px;
  margin-left: 150px;
}

.kjoretoyInfo {
  line-height: 50px;
  width: 600px;
  position: absolute;
  margin-top: 320px;
  margin-left: 150px;
}

.bilOverskrift {
  margin-top: 250px;
  margin-left: 900px;
  position: absolute;
  float: right;
}

.bilBilde {
  margin-top: 300px;
  position: absolute;
  margin-left: 900px;
  border-radius: 10px;
  border-width: 2px;
}

.bilInfo {
  margin-top: 600px;
  position: absolute;
  margin-left: 1000px;
}

.båtOverskrift {
  margin-top: 650px;
  position: absolute;
  margin-left: 1000px;
}

.båtBilde {
  margin-top: 700px;
  position: absolute;
  margin-left: 900px;
  border-radius: 10px;
  border-width: 2px;
}

.båtInfo {
  margin-top: 1100px;
  position: absolute;
  margin-left: 900px;
}

.sykkelOverskrift {
  margin-top: 1100px;
  position: absolute;
  margin-left: 900px;
}

.sykkelBilde {
  margin-top: 1100px;
  position: absolute;
  margin-left: 900px;
  border-width: 2px;
}

.sykkelInfo {
  margin-top: 1100px;
  position: absolute;
  margin-left: 900px;
}
/*
"Kontaktinfo"-siden:
*/

.kontaktOverskrift {
  font-size: 40px;
}

.tabellKontakt {
  color: rgb(32, 178, 170);
  position: absolute;
  margin-top: 175px;
  margin-left: 150px;
}